<app-header></app-header>




<app-herobanner></app-herobanner>
<app-mybanner></app-mybanner>
<div class="container">
<div class="row">

  
  <table class="table table-striped">
  <thead class="table-dark">
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Body</th>
      <th scope="col">Email</th>
      
    </tr>
  </thead>
  <tbody>
    @for(groc of Mygrocery$ | async; track groc.id){
    <tr >
      <th scope="row">{{groc.id}}</th>
      <td>{{groc.body}}</td>
      <td>{{groc.title}}</td>
     
    </tr>
    
  }
  </tbody>
</table>
</div>





